<launch>

        <rosparam command="delete" param = "/PosEstimate"/>

        <node pkg="wifi_ddwrt" name="approximate" type="approximate" output="log">          
            
            <rosparam file="$(find wifi_ddwrt)/config/approximate.yaml" command="load"/>
        
        </node> 

</launch>

