<launch>


        <node pkg="wifi_ddwrt" name="wifi_ddwrt" type="ddwrt.py" output="screen">

            <param name="ddwrt_file" value="$(find wifi_ddwrt)/config/wifi_localisation.yaml"/>

        </node>

        <node pkg="wifi_ddwrt" name="fingerprinting" type="fingerprinting" output="log">

            <param name="ddwrt_file" value="$(find wifi_ddwrt)/config/wifi_localisation.yaml" />

        </node>

</launch>

