<launch>

        <rosparam command="delete" param = "/Fingerprints"/>

        <node pkg="wifi_ddwrt" name="fingerprinting" type="fingerprinting" output="log">          
            
            <param name = "ddwrt_file" value="$(find wifi_ddwrt)/config/wifi_localisation.yaml" />
        
        </node> 

</launch>
